<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Upload</title>
  <link rel="stylesheet" href="/static/style_upload.css">
</head>
<body>
  <header>
    <h1>FRA File Upload</h1>
    <div id="Dashboard_button"><a href="{{ url_for('index') }}">Dashboard</a></div>
  </header>

  <main>
    <section class="card">
      <h2>Upload PDF</h2>
      <input id="fileInput" type="file" accept=".pdf" />
      <button id="uploadBtn">Upload</button>
      <p id="status"></p>
      <pre id="jsonOutput" style="white-space:pre-wrap;"></pre>
    </section>
  </main>

  <script src="/static/script_upload.js"></script>
</body>
</html>
